* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --info_bd: rgb(68, 138, 255);
    --info_bg: skyblue;
    --warning_bd: rgb(255, 182, 98);
    --warning_bg: rgb(255, 217, 112);
    --error_bd: red;
    --error_bg: rgb(255, 100, 100);
    background: var(--bg_color);
    color: var(--fg_color);
}
/* 不同主题的颜色 */
:root.note_light {
    --fg_color: #999;
    --bg_color: #fff;
}

:root.note_dark {
    --fg_color: gray;
    --bg_color: #000;
}

:root.note_pink {
    --fg_color: #fff;
    --bg_color: pink;
}

:root,
body>[class^=note] {
    height: 100vh;
    overflow-y: scroll;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: clip;
}

body {
    display: flex;
}

body .note_menu {
    flex: 0.75;
}
.note_menu::-webkit-scrollbar, .katex-display::-webkit-scrollbar,.note_main::-webkit-scrollbar, code::-webkit-scrollbar {
    width: 7px;
    background-color: #eee;
}
code::-webkit-scrollbar,.note_main::-webkit-scrollbar, .katex-display::-webkit-scrollbar{
    height: 7px;
}
body .note_menu::-webkit-scrollbar-thumb, .note_main::-webkit-scrollbar-thumb, code::-webkit-scrollbar-thumb, .katex-display::-webkit-scrollbar-thumb{
    background-color: gray;
}
body .note_main {
    flex: 3;
    border: 1px solid var(--fg_color);
    padding: 10px;
}

body .note_main .note_main_head {
    text-align: center;
    border-bottom: 1px dotted var(--fg_color);
}

/* 为了js滚动 */
body .note_main .note_main_body {
    position: relative;
}
.note_main_body {
    min-height: 125vh;
}

/* PC端隐藏 */
body .note_main .note_main_body .note_footer {
    display: none;
}

.note_paragraph {
    padding-left: 2em;
    text-indent: 2em;
    font-size: 20px;
}


/* 小表情 */
.note_icon {
    font-size: 2em;
    vertical-align: middle;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 50%;
    color: transparent;
}

/* 突出强调 */
.important, ::selection {
    font-size: 1.25em;
    font-weight: 400;
    background-color: var(--fg_color);
    border-radius: 3px;
    color: var(--bg_color);
}
.important::after, .important::before {content: ' ';}
/* 类似萌娘百科那样的文字隐藏 */
.hidden {
    background-color: var(--fg_color);
    border-radius: 99999px;
    transition: all .5s;
}

.hidden:hover {
    color: var(--bg_color);
}

/* 超链接 */
.note_link {
    color: var(--fg_color);
    text-decoration: underline;
}

/* 大图片 */
.note_image {
    text-align: center;
    margin: 20px auto;
    margin-left: -4em;
}

.note_image_des {
    font-size: 16px;
}

.note_image_content {
    background-size: contain;
    max-width: 80%;
}

/* 表格 */
.note_table {
    border-collapse: collapse;
    text-align: center;
    margin: 20px auto;
    border-color: var(--fg_color);
    width: 100%;
    margin-left: -1em;
    color: #666;
}
.note_table thead {
    background-color: #008c8c;
    color: #fff;
}
.note_table tbody tr:nth-child(odd) {
    background-color: #eee;
}
.note_table tbody tr:nth-child(even) {
    background-color: #fff;
}
.note_table tbody tr td {
    transition: all .3s;
}
.note_table tbody tr td:hover {
    background-color: #ccc;
}
/* 列表 */
.note_list_item {
    list-style-type: none;
}

.note_list_item::before {
    content: "•";
    margin-right: 1em;
}

.note_warning,
.note_info,
.note_error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-left: -2em;
    height: 100px;
}
.note_info {
    border: 1px solid var(--info_bd);
    border-left: 15px solid var(--info_bd);
    background-color: var(--info_bg);
}
.note_warning {
    border: 1px solid var(--warning_bd);
    border-left: 15px solid var(--warning_bd);
    background-color: var(--warning_bg);
}
.note_error {
    border: 1px solid var(--error_bd);
    border-left: 15px solid var(--error_bd);
    background-color: var(--error_bg);
}
.note_warning_icon,
.note_info_icon, .note_error_icon {
    flex: 1;
    background-image: url(../images/warning_icon.png);
    background-repeat: no-repeat;
    background-size: 52px 52px;
    height: 52px;
    background-position: 50% 50%;
    vertical-align: middle;
}

.note_info_icon {
    background-image: url(../images/info_icon.png);
}
.note_error_icon {
    background-image: url(../images/error_icon.png);
}
.note_warning_content,
.note_info_content,
.note_error_content {
    flex: 4;
}

pre {
    margin-left: -2em;
}

body .note_bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    height: unset;
    background-color: rgb(255, 255, 255, .6);
    color: #000;
    border-radius: 10px;
    transition: all .3s;
    opacity: 0;
    box-shadow: -5px 5px 5px gray;
}

body .note_bar .note_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: all .3s;
    border-bottom: 1px solid #ccc;
}

body .note_bar .note_btn:hover {
    background-color: rgb(255, 255, 255);
}

.note_menu .note_section {
    height: 50px;
    line-height: 50px;
    transition: all .3s;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: scroll;
    word-break: break-all;
    white-space: nowrap;
}
.note_menu .note_section::-webkit-scrollbar, 
:root::-webkit-scrollbar,
.note_bar::-webkit-scrollbar {
    display: none;
}
.no_marker {
    list-style-type: none;
}
/* 屏幕小的就不要侧边栏了, 放下面 */
@media screen and (max-width: 767px) {

    body .note_menu,
    body .note_bar {
        display: none;
    }

    body .note_main .note_main_body .note_footer {
        display: flex;
    }
    .note_footer .note_btn {
        flex: 1;
    }

    .note_footer .note_btn:nth-child(2) {
        text-align: center;
        border-left: 1px solid var(--fg_color);
        border-right: 1px solid var(--fg_color);
    }

    .note_footer .note_btn:last-child {
        text-align: right;
    }
}
/* 处理移动端公式显示不全的问题 */
.katex-display {
    overflow: auto;
}