footer {
    display: flex;
    width: 100%;
    margin-top: 100px;
    background-color: #3d3c3c;
    color: gray;
}

footer img {
    width: 1em;
    vertical-align: middle;
}
footer .footer_mod {
    flex: 1;
}
footer .footer_mod .footer_mod_head {
    font-size: 26px;
    font-weight: 400;
}
footer .footer_mod .footer_mod_body .footer_mod_item {
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    transition: .4s all;
}
footer .footer_mod .footer_mod_body .footer_mod_item:hover {
    color: #3d3c3c;
    background-color: gray;
}
* {
    font-weight: thin;
}
*::selection {
    background-color: lightgreen;
    color: gray;
}