* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    color: rgba(255, 255, 255, .6);
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    --direct: 62deg;
    background-color: #fff;
}
main.main {
    width: 100%;
    height: 100%;
    display: flex;
}
main.main .part {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
}
main.main .part:last-child {
    flex-direction: column;
}
main.main .part:last-child section.sect:nth-of-type(1) {
    flex: 3;
}
main.main .part:last-child section.sect:nth-of-type(2) {
    flex: 7;
}
main.main .part:last-child section.sect:nth-of-type(2) div {
    flex: 1;
}
section.sect {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    margin: 10px;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);    
    border-radius: 15px;
    height: 100%;
}
section.sect::before {
    border-radius: 15px;
    position: absolute;
    content: '';
    opacity: .9;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    filter: blur(15px);
    width: 105%;
    height: 105%;
    z-index: -1;
}
.part:nth-of-type(2) section.sect
.prof_pic {
    flex: 2;
    padding: 20px;
}
.part:nth-of-type(2) section.sect .prof_pic img {
    border-radius: 10000px;
    overflow: hidden;
    vertical-align: middle;
    width: 100%;
}
.part:nth-of-type(2) section.sect .info {
    flex: 8;
    display: flex;
    flex-direction: column;
}
.part:nth-of-type(2) section.sect .info span {
    margin: 10px;
    font-size: 20px;
}
.contact_me {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.link {
    display: flex;
    position: relative;
    flex: 1;
    cursor: pointer;
    justify-content: left;
    align-items: center;
    font-size: 2em;
    padding-left: 0.5em;
    transition: all .4s;
}
.link::after {
    content: '';
    position: absolute;
    bottom: .5em;
    background-color: rgba(255, 255, 255, .6);
    width: 0%;
    height: 5px;
    transition: all .4s;
}
.link:hover::after {
    width: 95%;
}
.part .sect .bio {
    font-size: 18px;
}
.part:nth-of-type(1) .sect {
    display: flex;
    flex-direction: column;
}
.part:nth-of-type(1) .sect div {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.part:nth-of-type(1) .sect .bio {
    justify-content: center;
    padding: 1em;
}
/* 对移动端布局进行调整 */
@media screen and (max-width: 767px) {
    body {
        overflow: scroll;
        height: unset;
    }
    main.main {
        flex-direction: column-reverse;
    }
    main.main .part:last-of-type {
        padding-bottom: 0;
    }
    .link::after {
        bottom: 0 !important;
    }
}